<!DOCTYPE html>
{{extend 'page_layout.html'}}
{{block menu_content}}
    <li class="header">Administratoriaus funkcijos</li>
    <li><a href="{{=URL('inventory','addItem')}}"><i class="fa fa-circle-o"></i>  <span>Add new item</span></a></li>
    <li><a href="{{=URL('inventory','removeItem')}}"><i class="fa fa-circle-o"></i>  <span>Remove item</span></a></li>
    <li><a href="{{=URL('inventory','add_category')}}"><i class="fa fa-circle-o"></i>  <span>Add new category</span></a></li>
    <!-- Add more addmin functionality here -->
{{end}}
<!-- Main content -->
{{block content}}
  <div class="row">
    <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Daikto pridėjimo forma</h3>
          <p>
              {{=form}}
          </p>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
{{end}}

{{block page_js}}
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
{{end}}
