<!DOCTYPE html>
{{extend 'page_layout.html'}}
{{block menu_content}}
    <li class="header">Administratoriaus funkcijos</li>
    <li><a href="{{=URL('inventory','addItem')}}"><i class="fa fa-circle-o"></i>  <span>Pridėti naują daigtą</span></a></li>
    <li><a href="{{=URL('inventory','removeItem')}}"><i class="fa fa-circle-o"></i>  <span>Pašalinti daigtą</span></a></li>
    <!-- Add more addmin functionality here -->
{{end}}

<!-- Main content -->
{{block content}}
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Responsive Hover Table</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>Pavadinimas</th>
              <th>Paėmimo data</th>
              <th>Vertė</th>
              <th>Būsena</th>
              <th>Kategorija</th>
            </tr>
            <tr>
              <td>3</td>
              <td>Vežimėlis</td>
              <td>2018-12-11</td>
              <td>450EUR</td>
              <td>Užimtas</td>
              <td>Transportas</td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
         <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
{{end}}

{{block page_js}}
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
{{end}}