<!DOCTYPE html>
{{extend 'page_layout.html'}}
{{block menu_content}}
    <li class="header">Administrator functionality</li>
    <li><a href="{{=URL('inventory','addItem')}}"><i class="fa fa-circle-o"></i>  <span>Add new item</span></a></li>
    <li><a href="{{=URL('inventory','removeItem')}}"><i class="fa fa-circle-o"></i>  <span>Remove item</span></a></li>
    <li><a href="{{=URL('inventory','add_category')}}"><i class="fa fa-circle-o"></i>  <span>Add new category</span></a></li>
    <!-- Add more addmin functionality here -->
{{end}}

<!-- Main content -->
{{block content}}
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Company inventory in use</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Value (EUR)</th>
              <th>Category</th>
              <th>Status</th>
              <th>Change status</th>
            </tr>
              {{for row in rows:}}
            <tr>
              <td>{{=row.id}}</td>
              <td>{{=row.Name}}</td>
              <td>{{=row.Worth}}</td>
              <td>{{=row.Category}}</td>
              <td>{{=row.Status}}</td>
              <td><a href="{{=URL('inventory', 'edit_item', args=row.id)}}" class="btn btn-default">Change status</a></td>
            </tr>
              {{pass}}
          </table>
        </div>
        <!-- /.box-body -->
         <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
{{end}}

{{block page_js}}
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
{{end}}