<!DOCTYPE html>
{{extend 'page_layout.html'}}
{{block menu_content}}
    <li class="header">Administratoriaus funkcijos</li>
    <li><a href="{{=URL('inventory','addItem')}}"><i class="fa fa-circle-o"></i>  <span>Add new item</span></a></li>
    <li><a href="{{=URL('inventory','removeItem')}}"><i class="fa fa-circle-o"></i>  <span>Remove item</span></a></li>
    <li><a href="{{=URL('inventory','add_category')}}"><i class="fa fa-circle-o"></i>  <span>Add new category</span></a></li>
    <!-- Add more addmin functionality here -->
{{end}}
<!-- Main content -->
{{block content}}
  <div class="row">
    <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Item removal form</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <!-- select start -->
            <div class="form-group">
                <label>Select item you want to delete</label></br>
              {{rows = db().select(db.item.ALL)}} <select> {{for row in rows:}}<option>{{=row.Name}}</option>{{pass}} </select>
              </div>
            <!-- select end -->
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
{{end}}

{{block page_js}}
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
{{end}}
