<!DOCTYPE html>
{{extend 'page_layout.html'}}
<!-- sidebar menu: : style can be found in sidebar.less -->
{{block menu_content}}
    <li class="header">Administratoriaus funkcijos</li>
    <li><a href="{{=URL('employee','addEmployee')}}"><i class="fa fa-circle-o"></i>  <span>Registruoti darbuotoją</span></a></li>
    <li><a href="{{=URL('employee','removeEmployee')}}"><i class="fa fa-circle-o"></i>  <span>Išregistruoti darbuotoją</span></a></li>
    <!-- Add more addmin functionality here -->
{{end}}
<!-- Main content -->
{{block content}}
  <div class="row">
    <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Darbuotojo išregistravimo forma</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <!-- select start -->
            <div class="form-group">
              <label>Darbuotojas kurį norit pašalinti</label>
              <select class="form-control">
                <option>Dainius Arnatauskas</option>
                <option>Giedre Greblikaitė</option>
              </select>
              </div>
            <!-- select end -->
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Patvirtinti</button>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
{{end}}

{{block page_js}}
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
{{end}}