<!DOCTYPE html>
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menu</li>
    <li>
      <a href="{{=URL('default', 'index')}}">
        <i class="fa fa-th"></i>
        <span>Index</span>
      </a>
    </li>
    <li>
      <a href="{{=URL('inventory', 'inventory')}}">
        <i class="fa fa-th"></i>
        <span>Inventory</span>
      </a>
    </li>
    <li>
      <a href="{{=URL('inventory', 'inventoryInUse')}}">
        <i class="fa fa-th"></i>
        <span>Inventory in use</span>
      </a>
    </li>
    <li>
      <a href="{{=URL('employee','employee')}}">
        <i class="fa fa-th"></i>
        <span>Employees</span>
      </a>
    </li>
    {{block menu_content}}
    {{end}}
</ul>