<!DOCTYPE html>
{{extend 'page_layout.html'}}
    <!-- Main content -->
    {{block content}}
    {{if company:}}
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-lightbulb-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">All items</span>
              <span class="info-box-number">{{=count_items}}<small>vnt.</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-spinner"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Items in use</span>
              <span class="info-box-number">{{=count_items_taken}}<small>vnt.</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-user-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Active users</span>
              <span class="info-box-number">{{=count_active}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-briefcase"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">All employees</span>
              <span class="info-box-number">{{=count_employees}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Metų ataskaita ataskaita</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Daiktų naudojimas kas mėnesį</strong>
                  </p>

                  <div class="chart">
                    <!-- Sales Chart Canvas -->
                    <canvas id="salesChart" style="height: 180px;"></canvas>
                  </div>
                  <!-- /.chart-responsive -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                  <p class="text-center">
                    <strong>Mėnesio tikslų išpildymas</strong>
                  </p>

                  <div class="progress-group">
                    <span class="progress-text">Pridėto inventoriaus</span>
                    <span class="progress-number"><b>90</b>/100</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: 90%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Priimtų darbuotojų</span>
                    <span class="progress-number"><b>10</b>/10</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-yellow" style="width: 100%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
          <!-- MAP & BOX PANE -->

          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Newest items</h3>
                <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Value (EUR)</th>
              <th>Category</th>
              <th>Status</th>
            </tr>
              {{for row in rows_items:}}
            <tr>
              <td>{{=row.id}}</td>
              <td>{{=row.Name}}</td>
              <td>{{=row.Worth}}</td>
              <td>{{=row.Category}}</td>
              <td>{{=row.Status}}</td>
            </tr>
              {{pass}}
          </table>
        </div>
            </div>
            <!-- /.box-header -->
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                {{if membership.group_id == 4:}}
                <a href="{{=URL('inventory','addItem')}}" class="btn btn-sm btn-info btn-flat pull-left">Add new item</a>
                {{pass}}
                <a href="{{=URL('inventory','inventory')}}" class="btn btn-sm btn-default btn-flat pull-right">See all items</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-4">
          <!-- PRODUCT LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Recently used items</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Value (EUR)</th>
              <th>Category</th>
              <th>Status</th>
            </tr>
              {{for row in rows:}}
            <tr>
              <td>{{=row.id}}</td>
              <td>{{=row.Name}}</td>
              <td>{{=row.Worth}}</td>
              <td>{{=row.Category}}</td>
              <td>{{=row.Status}}</td>
            </tr>
              {{pass}}
          </table>
        </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="{{=URL('inventory','inventoryInUse')}}" class="uppercase">See all currently used items</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    {{else:}}
    <h2>Register your company</h2>
    {{pass}}
    {{end}}
